<form name="Subscribe" method="POST" netlify-honeypot="bot-field" data-netlify="true">
  <div class="hidden">
    <input name="you-like-this-field" />
  </div>
  <div class="border-t border-teal-500 py-2">
    <input
      required
      id="email"
      name="email"
      type="email"
      class="appearance-none bg-transparent border-none text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none w-full"
      type="text"
      placeholder="{{ with .Get "placeholder_email" }}{{ . }}{{ else }}Email{{ end }}"
      aria-label="Email"
    />
  </div>
  <div class="md:text-center mx-auto">
    <button
      class="button button-primary mx-auto w-full rounded-lg px-4 md:px-5 py-3 md:py-4 bg-teal-500 hover:bg-teal-600 md:text-lg md:leading-tight text-white font-semibold leading-tight shadow-md md:text-center"
    >
      {{ with .Get "button_label" }}{{ . }}{{ else }}Subscribe{{ end }}
    </button>
  </div>
</form>